body{
  margin: 0;
}

.sidebar {
  width: 220px;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1rem;
  border-right: 2px solid #f1f1f1;
  margin-bottom: 0;
}

.sidebar-top {
  text-align: center;
}

.sidebar-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  display: block;
  margin: 0 auto 0.5rem;
}

.sidebar-username {
  margin-bottom: 1rem;
  font-weight: bold;
}

.sidebar-center {
  margin: 2rem 0;
}

.hobby-item {
  background-color: #e3e2e2; 
  border-radius: 4px;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  color: #000000;
}

.hobby-item p {
  margin: 0.25rem 0;
}


.sidebar-suggestions {
  margin-top: 10%;
  text-align: center;
  padding-top: 1rem;
}

.suggestions-button {
  width: 80%;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  color: #000;
  background-color: #fff;
  border: 1px solid #7c5dfa;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.suggestions-button:hover {
  background-color: #7c5dfa;
}
