.auth-form-wrapper {
  border: 2px solid #000; 
  padding: 2rem;
  box-sizing: border-box;
}

.custom-text-input {
  font-weight: bold;
  color: #444;
}

.mantine-Input-input {
  border: 1px solid #ccc !important; 
  padding: 0.5rem;
  border-radius: 4px; 
  font-size: 1rem;
  font-family: inherit;
  transition: border-color 0.25s;
  width: 96%
}

.mantine-PasswordInput-innerInput {
  border: 1px solid #ccc !important; 
  padding: 0rem;
  border: 0px !important;
  font-size: 1rem;
  font-family: inherit;
  transition: border-color 0.25s;
}


.mantine-Input-input:hover, .mantine-PasswordInput-innerInput:hover{
  border-color: #999 !important;
}
.mantine-Input-input:focus, .mantine-PasswordInput-innerInput:focus {
  outline: none !important;
  border-color: #646cff !important;
}

.auth-form-buttons {
  display: flex;
  flex-direction: column;
  align-items: stretch; 
  gap: 1rem;           
  margin-top: 1rem;
}

.auth-button {
  width: 100%;                
  border: 1px solid #ccc;     
  background-color: #2596ff;  
  color: white;
  cursor: pointer;
  padding: 0.6em 1.2em;
  border-radius: 4px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
}

.auth-button:hover {
  border-color: #000000;
}
.auth-button:focus,
.auth-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}