.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 200vh;
    border-bottom: 2px solid #f1f1f1;
}